<div class="container">
  <h1> Fiche Produits </h1>
  <form *ngIf="showForm" #produitForm="ngForm" (ngSubmit)="editerProduit(produitForm)" class="form-group">
    <label for="id">id :</label>
    <input class="form-control" id="id" name="id" type="number" [(ngModel)]="produitCourant.id"/><br><br>
    <label for="code">code :</label>
    <input class="form-control" type="text" name="code" [(ngModel)]="produitCourant.code" /><br><br>
    <label for="designation">designation :</label>
    <input class="form-control" type="text" name="designation" [(ngModel)]="produitCourant.designation" /><br><br>
    <label for="prix">Prix :</label>
    <input class="form-control" type="text" name="prix" [(ngModel)]="produitCourant.prix" /><br><br>

    <input class="btn btn-dark"  type="submit" value="Valider" [disabled]="!produitForm.form.valid" />

  </form>
  <button (click)="resetInput()" class="btn btn-dark">Effacer</button>
  <h1> liste des produits </h1>
  <!-- <app-entete></app-entete> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Id </th>
        <th> Code </th>
        <th> Designation </th>
        <th> Prix </th>
        <th> Categorie </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of cat; let i = index; let c of cat">
        <td> {{p.id}}</td>
        <td> {{p.code}}</td>
        <td> {{p.designation}}</td>
        <td> {{p.prix}}</td>
        <td *ngIf="c.categorie!=null; else elseBlock"> {{c.categorie.libelle}}</td><ng-template #elseBlock>
          <td>No Categorie</td>
        </ng-template>
        <td>
          <button (click)="editProduct(p)" class="btn btn-dark"><i class="bi bi-brush"></i>Editer</button>
        </td>
        <td>
          <button (click)="effacerProduit(p,i)" class="btn btn-danger">
            <i class="bi bi-trash"></i>>Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
